<!DOCTYPE html><html lang="en" data-scrapbook-source="https://klrklrklr.space/eum/a/news/thanks/index.php" data-scrapbook-create="20230618173054621"><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Congratulations!	</title>
	
	<link href="css2.css" rel="stylesheet">
<link href="main.cb6e3fd1569a3558f302.css" rel="stylesheet">
</head><body><img height="1" width="1" style="display: none;" src="tr.txt">


<!-- Global site tag (gtag.js) - Google Ads:  -->


<!-- Event snippet for Регистрация conversion page -->

	<div class="thanks">
		<header class="thanks__top">
			<div class="container">
				<div class="d-flex justify-content-center align-items-center thanks__top-text-wrapper">
					<p class="thanks__top-text thanks__top-text_highlited" id="profit-counter">15 550$</p>
					<p class="thanks__top-text">
						Amount earned by users in automatic mode today					</p>
				</div>
			</div>
		</header>
		<main class="thanks__main main">
			<div class="container-fluid">
				<div class="row">

					<div class="col-12 col-lg-6 main__first-part">
						<div class="container h-100">
							<div class="d-flex justify-content-center align-items-center flex-column">
								<div class="main__queue-block queue-block d-flex justify-content-center">
									<span class="queue-block__counter" id="counter">40</span>

									<p class="queue-block__text">
										On what place are you now in the waiting list									</p>
								</div>
																<div class="main__text-wrapper">
									<h1 class="main__title">
										Congratulations!									</h1>
									<h3 class="main__subtitle">
										Registration is almost complete...									</h3>
									<p class="main__text mb-5">
										A few more steps and you can make your first money online. What’s next?									</p>
									<span class="main__number">1</span>
									<p class="main__text">
										Please stay in touch for the next 24 hours									</p>
									<span class="main__number">2</span>
									<p class="main__text">
										Wait for the platform official representative to call to confirm registration and open your personal trading account									</p>
								</div>
															</div>
						</div>

					</div>
					
		<div class="col-12 col-lg-6 main__second-part d-flex align-items-center" style="background-image:url(&quot;f6827942026eb53c9f7c3180d43c22ba.png&quot;);">
			<div class="d-none d-lg-flex"></div>
		</div>					
				</div>

			</div>
		</main>
		<div class="modal fade show" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered mx-auto">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<i class="fas fa-exclamation-circle"></i>
						<p class="modal-body__text">
							There are a lot of people who want to connect to the platform now. So we put all new users into a waiting list.						</p>
						<p class="modal-body__text"><strong>
								Don't miss the call in the next couple of hours, otherwise someone else will take your place.							</strong></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	



</body></html>